<div class="reset-password-container">
  <div class="reset-password-box">
    <h2>პაროლის განახლება</h2>

    <p class="subtitle">შეიყვანეთ ახალი პაროლი</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div
        class="input-group"
        [class.invalid]="isSubmitted && f['newPassword'].errors"
      >
        <label for="newPassword">ახალი პაროლი</label>
        <input
          id="newPassword"
          type="password"
          formControlName="newPassword"
          placeholder="New password"
          [class.error]="isSubmitted && f['newPassword'].errors"
        />

        <span
          class="error-text"
          *ngIf="isSubmitted && f['newPassword'].errors?.['required']"
        >
          პაროლი აუცილებელია
        </span>
        <span
          class="error-text"
          *ngIf="isSubmitted && f['newPassword'].errors?.['minlength']"
        >
          მინ. 6 სიმბოლო
        </span>
      </div>

      <button
        type="submit"
        class="submit-btn"
        [class.loading]="isLoading"
        [disabled]="isLoading"
      >
        {{ isLoading ? "" : "განახლება" }}
      </button>

      <div
        id="message"
        *ngIf="message"
        [class.success]="messageType === 'success'"
        [class.error]="messageType === 'error'"
      >
        {{ message }}
      </div>
    </form>

    <div class="links">
      <a routerLink="/login">← დაბრუნება შესვლაში</a>
    </div>
  </div>
</div>
