<p>scouting-football works!</p>
<div class="container mt-5">

  <h2 class="text-center mb-4">⚽ Football Scouting</h2>

  <!-- LOCK MESSAGE -->
  <div *ngIf="!isPremium" class="alert alert-warning text-center">
    🔒 Add Player და ფილტრები ხელმისაწვდომია მხოლოდ Premium წევრებისთვის
    <br><br>
    <a routerLink="/premium" class="btn btn-dark">Buy Premium</a>
  </div>

  <!-- PREMIUM CONTENT -->
  <div *ngIf="isPremium">

    <!-- FILTERS -->
    <div class="row mb-4">
      <div class="col-md-4">
        <input
          type="number"
          class="form-control"
          placeholder="Age"
          [(ngModel)]="ageFilter"
        >
      </div>

      <div class="col-md-4">
        <input
          type="text"
          class="form-control"
          placeholder="Position"
          [(ngModel)]="positionFilter"
        >
      </div>

      <div class="col-md-4">
        <button class="btn btn-dark w-100" (click)="filterPlayers()">
          Filter
        </button>
      </div>
    </div>

    <!-- ADD PLAYER -->
    <div class="card mb-4">
      <div class="card-body">
        <h5>Add Football Player</h5>

        <input class="form-control mb-2" placeholder="Name">
        <input type="number" class="form-control mb-2" placeholder="Age">
        <input class="form-control mb-2" placeholder="Position">

        <button class="btn btn-success" (click)="addPlayer()">
          ➕ Add Player
        </button>
      </div>
    </div>

    <!-- PLAYERS LIST -->
    <div class="row g-3">
      <div class="col-md-4" *ngFor="let player of filteredPlayers">
        <div class="card">
          <div class="card-body">
            <h5>{{ player.name }}</h5>
            <p>Age: {{ player.age }}</p>
            <p>Position: {{ player.position }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
