<h2>დაჯავშნის დეტალები</h2>



  <div class="mb-3">
    <label>👤 კლიენტი</label>
    <input type="text" class="form-control" [(ngModel)]="customerName" />
  </div>

  <div class="mb-3">
    <label>👤 id</label>
    <input type="text" class="form-control" [(ngModel)]="customerId" />
  </div>

  <div class="mb-3">
    <label>📞 ტელეფონი</label>
    <input type="text" class="form-control" [(ngModel)]="customerPhone" />
  </div>

  <li>💰 ჯამური ფასი: {{ totalPrice }} ₾</li>




<button class="btn btn-success" (click)="confirmBooking()">დადასტურება</button>

<div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
<div *ngFor="let room of rooms">
  <div>{{ room.name }}</div>
 



</div>
