
section {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}


.card {
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.room-image-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}


.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #0056b3;
  cursor: pointer;
}


.card-text[title] {
  cursor: pointer;
}
