<div class="premium-container">

  <!-- Header -->
  <div class="header">
    <h1> მოთამაშის დამატება</h1>
    <p>დაამატე მოთამაშე სრული პროფილით</p>
  </div>

  <!-- Info Message -->
  <div class="message" *ngIf="showMessage">
    {{ message }}
  </div>

  <!-- Offer -->
  <div class="plans-grid">

    <div class="plan-card plan-featured">

      <div class="plan-badge badge-vip">OFFER</div>

      <div class="plan-price">
        200 ₾ <span>/ 1 წელი</span>
      </div>

      <h3 class="plan-name">1 მოთამაშის დამატება</h3>

      <div class="plan-highlight premium-highlight">
        <strong>
          სრული პროფილი 1 წლის განმავლობაში
        </strong>
      </div>

      <ul class="plan-features">
        <li>✓ მოთამაშის სრული ინფორმაცია</li>
        <li>✓ ფოტო (Profile Image)</li>
        <li>✓ ვიდეო (YouTube)</li>
        <li>✓ პოზიცია, ასაკი, სიმაღლე</li>
        <li>✓ 1 წლის განმავლობაში აქტიური</li>
       <li> ყოველ თამაშზე შედეგიანი მოქმდება აიტვირთება მთავარ გვერდზე</li>
      </ul>

    <div class="whatsapp-contact">




  <a
    class="whatsapp-btn"
    [href]="getWhatsAppLink()"
    target="_blank"
    rel="noopener noreferrer">
    💬 მოგვწერე WhatsApp-ზე
  </a>

  <div class="whatsapp-number">
    📱 WhatsApp ნომერი: <strong>+{{ whatsappNumber }}</strong>
  </div>

</div>
    </div>

  </div>

</div>


