
<form (ngSubmit)="applyFilters()" class="mb-5 p-4 border rounded bg-light shadow-sm">
  <div class="row g-3 align-items-end">
   
    <div class="col-md-3">
      <label for="roomType" class="form-label">ოთახის ტიპი</label>
      <select id="roomType" class="form-select" [(ngModel)]="selectedTypeId" name="roomType">
        <option [value]="0">ყველა ტიპი</option>
        <option *ngFor="let type of roomTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>

   
 
<div class="col-md-2">
    <select [(ngModel)]="minPrice" name="minPrice" id="">
      <option value="">min price</option>
       <option value="0">0</option>
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
    </select>

    <select [(ngModel)]="maxPrice" name="maxPrice" id="">
      <option value="">max price</option>
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
    </select>
 </div>
   
    <div class="col-md-2">
      <label for="checkIn" class="form-label">ჩექ-ინი</label>
      <input type="date" id="checkIn" class="form-control" [(ngModel)]="checkIn" name="checkIn" />
    </div>

   
    <div class="col-md-2">
      <label for="checkOut" class="form-label">ჩექ-აუტი</label>
      <input type="date" id="checkOut" class="form-control" [(ngModel)]="checkOut" name="checkOut" />
    </div>

 
    <div class="col-md-2">
      <label for="guests" class="form-label">სტუმრები</label>
      <input type="number" id="guests" class="form-control" [(ngModel)]="maximumGuests" name="guests"  />
    </div>

  
    <div class="col-md-1">
      <button type="submit" class="btn btn-success w-100">გაფილტრე</button>
    </div>
  </div>
</form>


<section>
  <div *ngIf="errorMessage" class="alert alert-danger text-center">{{ errorMessage }}</div>
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
  </div>

  <div class="d-flex gap-4 justify-content-center flex-wrap">
    <div class="card shadow-sm" style="width: 20rem;" *ngFor="let room of rooms; let i = index">

      <div id="carousel{{ i }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let image of room.images; let j = index" class="carousel-item" [ngClass]="{ 'active': j === 0 }">
            <img [src]="image.source" class="d-block w-100 rounded-top" [alt]="room.name" />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + i" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + i" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

     
      <div class="card-body">
        <h5 class="card-title">{{ room.name }}</h5>
        <p class="card-text">💰 ფასი: {{ room.pricePerNight }} ₾</p>
        <p class="card-text">👥 სტუმრები: {{ room.maximumGuests }}</p>
        <p class="card-text" [ngClass]="room.available ? 'text-success' : 'text-danger'">
          {{ room.available ? '✅ თავისუფალია' : '❌ დაკავებულია' }}
        </p>
   
        <button 
        
 [routerLink]="['/booking']"  
  [queryParams]="{
    roomID: room.id,
    checkInDate: checkIn,
    checkOutDate: checkOut,
    price: room.pricePerNight,
    isConfirmed: true,
    minPrice:minPrice,
    maxPrice:maxPrice,
    guests:maximumGuests,
    
  }"
  class="btn btn-primary w-100" 
  [disabled]="!room.available">
  დაჯავშნა
</button>

      </div>
    </div>
  </div>
</section>
